<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "icon.css">
        <title>Video Streaming</title>
    </head>
    <body>
        <input id="pause-btn" class="checkbox" type="checkbox" onclick="togglePause()">
        <label for="pause-btn" class="toggle">
            <span id="toggle-text" class="words">Pause</span>
        </label>
        <script>
            var paused = true;
            var pauseToggle = document.getElementById("pause-btn");
            var toggleText = document.getElementById("toggle-text");

            function togglePause() {
            paused = !paused;
            if (paused) {
                // Perform actions when paused
                toggleText.textContent = "Pause";
                console.log("Paused");
            } else {
                // Perform actions when not paused
                toggleText.textContent = "Resume";
                console.log("Not paused");
            }
            }
        </script>
    </body>
</html> 
